* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: inter, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--bg-color);
}

:root {
  --primary: #fa4a0c;
  --black: #0d0d0d;
  --green: #a3e0d8;
  --purple: #d3c3ed;
  --orange: #fcb235;
  --salmon: #f18f8c;
  --brown: #410f18;
  --bg-color: #f2f2f2;
}

section {
  margin: 10px;
  position: relative;
  width: 360px;
  height: 1128px;
  border: 1px solid #fa4a0c;
  margin-left: auto;
  margin-right: auto;
}

img,
button {
  cursor: pointer;
}


